<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yixiaoqi.administrator.te2_3kongjiantest" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZhuanActicity"
            android:label="@string/title_activity_zhuan_acticity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".textViewtest"
            android:label="@string/title_activity_text_viewtest"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".main_caidan"
            android:label="@string/title_activity_main_caidan"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
